<section id="about_us" style="background-color: #edf2f4; color: #2c2d43;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About TBM Studios</h2>
        <hr class="star-light" style="border-color: #2c2d43;">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>TBM Studios is an innovative developer of Minecraft modpacks and mods. We're passionate about creating unique and engaging experiences for Minecraft players around the world. Our team of dedicated developers and creative minds work tirelessly to push the boundaries of what's possible in the Minecraft universe.</p>
      </div>
      <div class="col-lg-6">
        <p>Whether you're a casual player looking for new adventures or a hardcore enthusiast seeking challenging gameplay, TBM Studios has something for you. Our modpacks and mods are designed to enhance your Minecraft experience, offering fresh content, exciting mechanics, and endless possibilities for exploration and creativity.</p>
      </div>
    </div>
  </div>
</section>
