<section class="success" id="about_us" style="background-color: #edf2f4; color: #2c2d43;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>At TBM Studios, we specialize in developing innovative Minecraft modpacks and mods that elevate your gaming experience. Our team is dedicated to creating unique and immersive content that stands out in the Minecraft community.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a seasoned player looking for new adventures or a newcomer eager to explore, our modpacks offer something for everyone. Join us on a journey of creativity and excitement in the world of Minecraft!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline" style="color: #2c2d43; border-color: #2c2d43;">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
