<!-- Find Us Section -->
<section class="success" id="find_us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Find Us</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>TBM Studios is at the forefront of Minecraft modpack and mod development. We specialize in creating innovative, immersive experiences that push the boundaries of what's possible in Minecraft. Our team of passionate developers and creative minds work tirelessly to bring fresh, exciting content to the Minecraft community.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a casual player looking for new adventures, a hardcore gamer seeking challenging gameplay, or a builder wanting to explore new possibilities, our modpacks and mods offer something for everyone. Join us in redefining the Minecraft experience!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
