<!-- Footer -->
<footer class="bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h4 class="text-uppercase mb-4">About TBM Studios</h4>
        <p>Innovative Minecraft modpack and mod developers, pushing the boundaries of creativity and gameplay.</p>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <h4 class="text-uppercase mb-4">Quick Links</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Our Modpacks</a></li>
          <li><a href="#" class="text-light">Custom Mods</a></li>
          <li><a href="#" class="text-light">Community</a></li>
          <li><a href="#" class="text-light">Support</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">Stay Connected</h4>
        <ul class="list-inline mb-0">
          {% for network in site.social %}
          <li class="list-inline-item">
            <a href="{{ network.url }}" class="btn btn-outline-light btn-social text-center rounded-circle">
              <i class="fab fa-fw fa-{{ network.title }}"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <small>{{ site.credits }}</small>
  </div>
  <div class="copyright py-4 text-center">
    <div class="container">
      <small>Copyright &copy; {{ site.footer.copyright }} {% raw %}{{ 'now' | date: "%Y" }}{% endraw %}</small>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
